.navbar{
  width:100%;
  padding-left:10px;
  padding-right:10px;
}
.navbar-brand{
  text-decoration: none;
  font-weight: bold;
}
.nav-pills{
  text-decoration: none;
  cursor: pointer;
}
.nav-link {
  font-size: large;
  background-color: darkred;
  color:white;
  margin-left:5px;
}
.applicationArea{
  width:90%;
  margin:auto;
}